services:
  skiza-sse:
    image: skiza-sse:0.0.1-SNAPSHOT
    restart: unless-stopped
  ngrok:
    image: ngrok/ngrok:latest
    ports:
      - "4040:4040"
    command: http skiza-sse:8080
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTH_TOKEN}
    restart: unless-stopped
    depends_on:
      - skiza-sse